
# Try to maintain ssh sessions on OS X
ServerAliveInterval 300

Compression yes

#
# Cornerhost
#
Host va
  HostName vanadium.sabren.com

#
# Github
#
Host github.com
    User git
    Hostname github.com
    IdentityFile ~/.ssh/id_rsa

#
# BitBucket
#
Host bb
  HostName bitbucket.org
  User hg

#
# VMWare Fusion host
#
Host dev development
  User vagrant
  IdentityFile ~/.vagrant.d/insecure_private_key
  HostName 10.221.199.8
  ForwardAgent yes
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

#
# AWS legacy (for EFG)
#
Host preview-frontend
  Hostname ec2-46-51-151-203.eu-west-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/beta.pem

Host production-frontend
  Hostname ec2-176-34-209-225.eu-west-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/beta.pem

# Jenkins things
Host production-management
  Hostname ec2-46-137-55-104.eu-west-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/beta.pem

Host production-management-1
  Hostname ec2-46-137-16-103.eu-west-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/beta.pem

Host production-management-2
  Hostname ec2-54-247-129-120.eu-west-1.compute.amazonaws.com
  User ubuntu
  IdentityFile ~/.ssh/beta.pem

# Hosts for situation-room applications
Host ah-mrt-d-01
  Hostname 192.168.8.161
  User jamesa

Host ah-mrt-d-02
  Hostname 192.168.8.162
  User jamesa

#
# Fallback
#
Host *
  User jabley
