# Performance Platform

Host *.preview.pp
  ProxyCommand ssh -e none %r@jumpbox.preview.performance.service.gov.uk exec nc $(echo %h | sed 's/.preview.pp//g') %p

Host *.staging.pp
  ProxyCommand ssh -e none %r@jumpbox.staging.performance.service.gov.uk exec nc $(echo %h | sed 's/.staging.pp//g') %p

Host *.production.pp
  ProxyCommand ssh -e none %r@jumpbox.production.performance.service.gov.uk exec nc $(echo %h | sed 's/.production.pp//g') %p
